# General macOS files
.DS_Store
.metadata_never_index

# Compiled Python files
*.pyc

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Hidden config files won't be added to this repo
.bash_profile_extentions/.*
